.gallery-items{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;
}
.gallery-item{
    padding: 5px;
    box-shadow: 0px 0px 8px 3px rgb(226, 221, 221);
}
.gallery-item img{
    max-width: 100%;
    min-width: 100px;
    object-fit: cover;
}